@import "reset",
        "colors";

.header-wrap {
  width: 100%;
  height: 144px;
  background-color: $components-menu-color;
  display: flex;
  flex-wrap: wrap;
}
.component-logo {
  position: absolute;
  background-image: url("../images/components.png");
  background-repeat: no-repeat;
  height: 34px;
  width: 23px;
  top: 32px;
  left: 40px;
}
.comp {
  &-badges {
    background-image: url("../images/comp_badges.png");
  }
  &-buttons {
    background-image: url("../images/comp_buttons.png");
  }
  &-cards {
    background-image: url("../images/comp_cards.png");
  }
  &-dialogs {
    background-image: url("../images/comp_dialogs.png");
  }  
  &-layout {
    background-image: url("../images/comp_layout.png");
  }
  &-loading {
    background-image: url("../images/comp_loading.png");
  }
  &-menus {
    background-image: url("../images/comp_menus.png");
  }
  &-sliders {
    background-image: url("../images/comp_sliders.png");
  }
  &-snackbar {
    background-image: url("../images/comp_snackbar.png");
  }
  &-toggles {
    background-image: url("../images/comp_toggles.png");
  }
  &-tables {
    background-image: url("../images/comp_tables.png");
  }
  &-textfields {
    background-image: url("../images/comp_textfields.png");
  }
  &-tooltips {
    background-image: url("../images/comp_tooltips.png");
  }

}
.nav-container {
  width: 100%;
  height: 64px;
  align-self: flex-end;
}
.top-nav {
  &-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  &-item {
    padding: 15px;
  }
  &-text {
    color: #fff;
    text-transform: uppercase;
  }
  &-spacing {  
    flex-grow: 10;
  }
}

.main-layout {
  display: flex;
}

.side-nav {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  &-item {
    display: flex;
    align-items: center;
  }
  &-icons {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin: 10px 0;
    background-size: 46px;
    background-repeat: no-repeat;
  }
  &-name {

  }
}

.section-layout {
  background-color: #fafafa;
  color: #757575;
}

.download-section-wrap {
  background-color: #424242;
  height: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #fafafa;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.footer {
  &-container {
    background-color: #212121;
    height: 188px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-wrap {
    width: 140px;
  }
  &-text-wrap {
    width: 140px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    a {
      color: #757575;
    }
  }
}
.social {
  &-logo-wrap {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-icon-1, 
  &-icon-2,
  &-icon-3 {
    width: 24px;
    height: 24px;
  }
  &-icon-1 {
    background: url("../images/post_twitter_white_24dp.png") no-repeat top left;
    background-size: contain;
  }
  &-icon-2 {
    background: url("../images/github_white_24.svg") no-repeat top left;
    background-size: contain;
  }
  &-icon-3 {
    background: url("../images/post_gplus_white_24dp.png") no-repeat top left;
    background-size: contain;
  }  
}
