@import "reset",
        "colors";

.header__wrap {
  background-color: $components-menu-color;
  overflow: hidden;
}

.nav__container {
  &:before {
    background-image: url("../images/components.png");
    background-repeat: no-repeat;
    height: 34px;
    width: 23px;
    margin: 32px 0 0 36px;
    display: block;
    content: '';
  }
  display: flex;
  flex-flow: column nowrap;
}
.material-icons {
  line-height: 0.6;
  margin-right: 8px;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  margin: 23px 20px 0;
  &__menu {
    display: flex;
  }
  &__item {
    padding: 17px 16px;
    display: flex;
    color: white;
    opacity: 0.65;
  }
  &__text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    white-space: nowrap;
  }
  &__selected {
    opacity: 1;
    border-bottom: 3px solid #18ffff;
    padding-bottom: 23px;
  }
  &__spacing {  
    flex-grow: 1;
  }
  &__link__text {
    font-weight: 500;
    font-size: 13px;
  }
  &__link__wrap {
    display: flex;
  }
}

a.top-nav__item:hover {
  opacity: 1; //FIXME: must apply hover event style on top-nav
}

.main {
  &__layout {
    display: flex;
  }
}

.side-nav {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  z-index: 1;
  &__item {
    display: flex;
    align-items: center;
    margin: 20px 39px 0 32px;
    &:first-child {
      margin-top: 42px;
    }
    &:last-child {
      margin-bottom: 200px;
    }
  }
  &__icons {
    width: 46px;
    height: 46px;
    background-size: 46px;
    background-repeat: no-repeat;
  }
  &__name {
    margin-left: 16px;
    color: rgba(0,0,0,.66);
  }
}
.comp {
  &-badges {
    background-image: url("../images/comp_badges.png");
  }
  &-buttons {
    background-image: url("../images/comp_buttons.png");
  }
  &-cards {
    background-image: url("../images/comp_cards.png");
  }
  &-dialogs {
    background-image: url("../images/comp_dialogs.png");
  }  
  &-layout {
    background-image: url("../images/comp_layout.png");
  }
  &-loading {
    background-image: url("../images/comp_loading.png");
  }
  &-menus {
    background-image: url("../images/comp_menus.png");
  }
  &-sliders {
    background-image: url("../images/comp_sliders.png");
  }
  &-snackbar {
    background-image: url("../images/comp_snackbar.png");
  }
  &-toggles {
    background-image: url("../images/comp_toggles.png");
  }
  &-tables {
    background-image: url("../images/comp_tables.png");
  }
  &-textfields {
    background-image: url("../images/comp_textfields.png");
  }
  &-tooltips {
    background-image: url("../images/comp_tooltips.png");
  }
}

.section {
  &__layout {
    background-color: #fafafa;
    color: #757575;
    flex-grow: 1;
  }
  &__flex-wrap {
    display: flex;
    margin: 90px 40px 48px;
  }
  &__header-wrap {
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 40px;
    line-height: 2em;
  }
  &__paragraph-wrap {
    line-height: 2em;
    font-size: 13px;
    width: 700px;
    a {
      color: #ff4081;
      font-weight: 500;
    }
  }
  &__img {
    width: 90%;
    background-size: 100%;
    margin-left: 40px;
  }
}

.download-section__wrap {
  background-color: #424242;
  height: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #fafafa;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.footer {
  &__container {
    background-color: #212121;
    height: 188px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__wrap {
    width: 140px;
  }
  &__text-wrap {
    width: 140px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    a {
      color: #757575;
    }
  }
  &__social-logos {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.social {
  &-icon-1, 
  &-icon-2,
  &-icon-3 {
    width: 24px;
    height: 24px;
  }
  &-icon-1 {
    background: url("../images/post_twitter_white_24dp.png") no-repeat top left;
    background-size: contain;
  }
  &-icon-2 {
    background: url("../images/github_white_24.svg") no-repeat top left;
    background-size: contain;
  }
  &-icon-3 {
    background: url("../images/post_gplus_white_24dp.png") no-repeat top left;
    background-size: contain;
  }  
}
