<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Material Design Lite</title>
  </head>
  <body>
  <header class="header__wrap">
    <nav class="nav__container">
      <div class="top-nav">
        <div class="top-nav__menu">
          <a class="top-nav__text top-nav__item">About</a>
          <a class="top-nav__text top-nav__item">Getting Started</a>
          <a class="top-nav__text top-nav__item">Templates</a>
          <a class="top-nav__text top-nav__item top-nav__selected">Components</a>
          <a class="top-nav__text top-nav__item">Styles</a>
          <a class="top-nav__text top-nav__item">Customize</a>
          <a class="top-nav__text top-nav__item">Showcase</a>
          <a class="top-nav__text top-nav__item">FAQ</a>
        </div>
        <div class="top-nav__spacing"></div> 
        <div class="top-nav__link__wrap">
          <a class="top-nav__item">
            <i class="material-icons">link</i>
            <div class="top-nav__link__text">GitHub</div>
          </a>      
          <a class="top-nav__item">
            <i class="material-icons">file_download</i>
            <div class="top-nav__link__text">Download</div>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="main__layout">
      <aside class="side-nav">
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-badges"></div>
          <div class="side-nav__name">Badges</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-buttons"></div>
          <div class="side-nav__name">Buttons</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-cards"></div>
          <div class="side-nav__name">Cards</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-dialogs"></div>
          <div class="side-nav__name">Dialogs</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-layout"></div>
          <div class="side-nav__name">Layout</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-loading"></div>
          <div class="side-nav__name">Loading</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-menus"></div>
          <div class="side-nav__name">Menus</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-sliders"></div>
          <div class="side-nav__name">Sliders</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-snackbar"></div>
          <div class="side-nav__name">Snackbar</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-toggles"></div>
          <div class="side-nav__name">Toggles</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-tables"></div>
          <div class="side-nav__name">Tables</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-textfields"></div>
          <div class="side-nav__name">Text Fields</div>
        </a>
        <a class="side-nav__item" href="">
          <div class="side-nav__icons comp-tooltips"></div>
          <div class="side-nav__name">Tooltips</div>
        </a>
      </aside>
      <div class="section__layout">
        <section>
          <div class="section__wrap">
            <div class="section__flex-wrap">
              <div class="section__header-wrap">
                <h1>Components</h1>
              </div>
              <div class="section__paragraph-wrap">
                <p>Material Design Lite (MDL) is a library of components for web developers based on Google's Material Design Philosophy: "A visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science." Understanding the goals and principles of Material Design is critical to the proper use of the Material Design Lite components. If you have not yet read the <a href="http://www.google.com/design/spec/material-design/introduction.html">Material Design Introduction</a> you should do so before attempting to use the components.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <section class="download-section__wrap">
      <a href="http://www.getmdl.io/started/index.html#download">Download Kit</a>
    </section>
    <footer>
      <div class="footer__container">
        <div class="footer__wrap">
          <div class="footer__social-logos">
            <div class="social-icon-1"></div>
            <div class="social-icon-2"></div>
            <div class="social-icon-3"></div>
          </div>
          <div class="footer__text-wrap">
            <a href="https://developers.google.com/web/starter-kit/" class="footer-text-1">Web Starter Kit</a>
            <a href="https://github.com/google/material-design-lite/issues" class="footer-text-2">Help</a>
          </div>
        </div>
      </div>
    </footer>
  </main> 
  </body>
</html>
