<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
    <title>Material Design Lite</title>
  </head>
  <body>
  <header class="header-wrap">
    <div class="component-logo">      
    </div>
    <div class="nav-container">
      <nav class="top-nav-wrap">
        <a class="top-nav-text top-nav-item">About</a>
        <a class="top-nav-text top-nav-item">Getting Started</a>
        <a class="top-nav-text top-nav-item">Templates</a>
        <a class="top-nav-text top-nav-item">Components</a>
        <a class="top-nav-text top-nav-item">Styles</a>
        <a class="top-nav-text top-nav-item">Costomize</a>
        <a class="top-nav-text top-nav-item">FAQ</a>
        <a class="top-nav-spacing"></a>
        <a class="top-nav-link-wrap top-nav-item">
          <div class="top-nav-icons"></div>
          <div class="top-nav-text">Github</div>
        </a>      
        <a class="top-nav-link-wrap top-nav-item">
          <div class="top-nav-icons"></div>
          <div class="top-nav-text">Download</div>
        </a>      
      </nav>
    </div>
  </header>
  <main>
    <div>
      <div>
      </div>
      <aside>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Badges</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Buttons</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Cards</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Layout</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Loading</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Menus</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Sliders</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Toggles</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Tables</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Text Fields</div>
        </a>
        <a href="">
          <div class="side-nav-icons"></div>
          <div class="side-nav-name">Tooltips</div>
        </a>
      </aside>
      <main>
        <section>
          <div>
            <h1>Components</h1>
            <div>
              <p>Material Design Lite (MDL) is a library of components for web developers based on Google's Material Design Philosophy: "A visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science." Understanding the goals and principles of Material Design is critical to the proper use of the Material Design Lite components. If you have not yet read the <a href="http://www.google.com/design/spec/material-design/introduction.html">Material Design Introduction</a> you should do so before attempting to use the components.</p>
            </div>
            <div class="main-image">
              
            </div>
          </div>
        </section>
      </main>
    <section>
      Download Kit
    </section>
    <footer>
      <div class="social-logo">
        <div class="social-icon-1"></div>
        <div class="social-icon-2"></div>
        <div class="social-icon-3"></div>
      </div>
      <div class="footer-text-wrap">
        <a href="https://developers.google.com/web/starter-kit/" class="footer-text-1">Web Starter Kit</a>
        <a href="https://github.com/google/material-design-lite/issues" class="footer-text-2">Help</a>
      </div>
    </footer>
    </div>
  </main> 
  </body>
</html>
